* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$index: calc(1vw + 1vh);
$text: #eaeac4;
$transition: transform 0.1s cubic-bezier(.075, .5, 0, 1);

body {
	background-color: #030504;
	font-family: monospace, sans-serif;
	line-height: 1.55;
}




//Navigation
@media screen and (min-width: 950px) {
	.Navigation {
		position: absolute;
		z-index: 200;
		will-change: auto;
		right: 0;
	}
	.Nav {
		font-size: calc($index * 0.9);
		color: $text; 
		letter-spacing: calc($index / 8.7);
		margin-left:calc($index / 3);
		text-decoration: none;
		font-family:'Times New Roman';
	}
}
@media screen and (max-width: 950px) {
	.Navigation {
		width: 0;
		height: 0;
		opacity: 0;
	}
}




//SECTOR 1
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc($index * 10);
	background-image: url(./img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc($index * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: $transition;
}
.layer_base {
    background-image: url(./img/layer-base.png);
	transform: translate3d(0, calc(var(--scrollTop) / 2.2), 0);
	z-index: 0;
}
.layer_middle {
    background-image: url(./img/layer-middle.png);
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layer_front {
    background-image: url(./img/layer-front.png);
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer_header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: $transition;
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: $text;
	text-shadow: 0 0 15px #9d822b;
}
.layer_title {
	font-size: calc($index * 2.2);
	letter-spacing: calc($index / 5.25);
	font-family: sans-serif;
}
.layer_caption {
	font-size: calc($index / 0.9);
	letter-spacing: calc($index / 3.5);
	margin-top: calc($index * -.75);
}




//SECTOR 2
.main-articles {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: $text;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	top: -1px;
	z-index: 10;
}
.main-article_header {
	text-transform: uppercase;
	font-size: calc($index * 1.8);
	letter-spacing: calc($index / 7.5);
	transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	transition: $transition;
	will-change: transform;
	font-family: monospace;
}
.main-article_paragraph {
	max-width: calc($index * 30);
	font-size: calc($index * .9);
	margin-top: calc($index / 1.25);
	transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	transition: $transition;
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc($index * 12.5);
	opacity: .45;
	font-size: calc($index * 1);
	letter-spacing: calc($index / 37.5);
}
.main-articles {
	background-image: url(./img/dungeon.jpg);
}




//SECTOR 3
.photos {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding-top: calc($index * 5);
}
.photo {
	border: solid rgb(164, 184, 194) 0.1vw;
	margin: 0.1vw;
}
@media screen and (min-width: 950px) {
	.photo {
		width: 450px;
		height: 450px;
	}
}
@media screen and (max-width: 950px) {
	.photo {
		width: 300px;
		height: 300px;
	}
}
.photo:nth-child(1) {
	background-image: url(../src/img/photos/photo1.jpg);
}
.photo:nth-child(2) {
	background-image: url(../src/img/photos/photo1.jpg);
}
.photo:nth-child(3) {
	background-image: url(../src/img/photos/photo1.jpg);
}
.photo:nth-child(4) {
	background-image: url(../src/img/photos/photo1.jpg);
}




//SECTOR 4
.container {
	position: relative;
	width: calc($index * 5);
	margin: calc($index * 1) auto 0 auto;
	perspective: 100%;
}
.carousel {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; 
	animation: rotate360 60s infinite forwards linear;
}
.carousel_face { 
	position: absolute;
	width: calc($index * 5);
	height: calc($index * 5);
	top: calc($index * 1);
	left: calc($index / 9);
	right: calc($index / 2);
	background-size: cover;
	display: flex;
}
.carousel_face:hover {
	width: calc($index * 5.5);
	height: calc($index * 5.5);
	opacity: 40%;
}
.carousel_face:nth-child(1) {
	background-image: url(../src/img/tech/BlenderLogo.png);
	transform: rotateY(  0deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(2) { 
	background-image: url(../src/img/tech/CSSLogo.png);
	  transform: rotateY( 40deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(3) {
	background-image: url(../src/img/tech/HTMLLogo.png);
	transform: rotateY( 80deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(4) {
	background-image: url(../src/img/tech/JSLogo.png);
	transform: rotateY(120deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(5) { 
	background-image: url(../src/img/tech/PythonLogo.png);
   transform: rotateY(160deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(6) { 
	background-image: url(../src/img/tech/GitHubLogo.png);
   transform: rotateY(200deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(7) { 
	background-image: url(../src/img/tech/UnityLogo.png);
   transform: rotateY(240deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(8) {
	background-image: url(../src/img/tech/TSLogo.png);
	transform: rotateY(280deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(9) {
	background-image: url(../src/img/tech/ReactLogo.png);
	transform: rotateY(320deg) translateZ(calc($index * 10)); }
  
@keyframes rotate360 {
	from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(-360deg);
	}
}
.game {
	padding-top: calc($index * 10);
}
.game_title {
	font-size: calc($index * 3);
	color: rgb(226, 230, 196);
	display: inline-block;
	padding-left: 1vw;
}
.game_link {
	font-size: calc($index * 2);
	text-decoration: none;
	color: #1f6441;
}
.game_ref {
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
}
.ref {
	object-fit: cover;
	background-size: cover;
	border: solid rgb(218, 218, 218) 0.1vw;
	margin: 0.1vw auto;
}
@media screen and (min-width: 950px) {
	.ref {
		width: 900px; 
		height: 900px;
	}
}
@media screen and (max-width: 700px) {
	.ref {
		width: 500px; 
		height: 500px;
	}
}
.ref:nth-child(1) {
	background-image: url(../src/img/gameRef/ref1.png);
}
.ref:nth-child(2) {
	background-image: url(../src/img/gameRef/ref2.png);
}




//SECTOR 5
.awards {
	position: relative;
	width: calc($index * 5);
	margin: calc($index * 1) auto;
	perspective: 100%;
}
.awards-container {
	width: calc($index * 0.1);
	height: 100%;
	transform-style: preserve-3d; 
	animation: rotate360 40s infinite forwards linear;
}
.award { 
	position: absolute;
	width: calc($index * 18);
	height: calc($index * 25);
	background-size: cover;
}
.award:nth-child(1) {
	background-image: url(../src/img/Awards/Award1.png);
	transform: rotateY(0deg) translateZ(calc($index * 5.2)); 
}
.award:nth-child(2) { 
	background-image: url(../src/img/Awards/Award2.png);
	  transform: rotateY(120deg) translateZ(calc($index * 5.2)); 
	}
.award:nth-child(3) {
	background-image: url(../src/img/Awards/Award3.png);
	transform: rotateY(240deg) translateZ(calc($index * 5.2)); 
}