* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$index: calc(1vw + 1vh);
$text: #b9e2f4;
$transition: transform 0.1s cubic-bezier(.075, .5, 0, 1);

body {
	background-color: #030504;
	font-family: monospace, sans-serif;
	line-height: 1.55;
}




//LOADER
.Loader {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 98%;
	z-index: 1000;
	position: fixed;
	content: '';
}
.middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
	position: absolute;
}
.bar {
	width: calc($index * 2);
	height: calc($index * 3);
	background: #fff;
	display: inline-block;
	transform-origin: bottom center;
	border-top-right-radius: calc($index * 0.8);
	border-top-left-radius: calc($index * 0.8);
	animation: loader 1.2s linear infinite;
}
.bar1 {
	animation-delay: 0.1s;
}
.bar2 {
	animation-delay: 0.2s;
}
.bar3 {
	animation-delay: 0.3s;
}
.bar4 {
	animation-delay: 0.4s;
}
.bar5 {
	animation-delay: 0.5s;
}
.bar6 {
	animation-delay: 0.6s;
}
@keyframes loader {
	0% {
	  transform: scaleY(0.1);
	  background: black;
	}
	50% {
	  transform: scaleY(1);
	  background: $text;
	}
	100% {
	  transform: scaleY(0.1);
	  background: transparent;
	}
}
  





//Navigation
@media screen and (min-width: 950px) {
	.Navigation {
		position: absolute;
		z-index: 200;
		will-change: auto;
		right: 0;
	}
	.Nav {
		font-size: calc($index * 0.9);
		color: $text; 
		letter-spacing: calc($index / 12.7);
		font-weight: 800;
		margin-left: calc($index / 3);
		text-decoration: none;
		font-family: 'Times New Roman';
	}
}
@media screen and (max-width: 950px) {
	.Navigation {
		width: 0;
		height: 0;
		opacity: 0;
	}
}




//SECTOR 1
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc($index * 1);
	background-image: url(./img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc($index * -0.4);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
	background-color: #000000;
}
.layer {
	height: 101%;
	width: 101%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: $transition;
}
.layer_base {
    background-image: url(./img/Paralax/back.png);
	transform: translate3d(0, calc(var(--scrollTop) / 2.2), 0);
	z-index: 0;
}
.layer_front {
    background-image: url(./img/Paralax/front.png);
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer_header {
	padding-left: calc($index * 14);
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: $transition;
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: $text;
	text-shadow: 0 0 calc($index * 1) #9dff00;
}
.layer_title {
	font-size: calc($index * 1.9);
	letter-spacing: calc($index / 6.25);
	font-family: sans-serif;
}
.layer_caption {
	font-family: Impact;
	font-size: calc($index / 0.9);
	letter-spacing: calc($index / 4.5);
	margin-top: calc($index * -.75);
}




//SECTOR 2
.main-articles {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: $text;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	top: -1px;
	z-index: 10;
}
.main-article_header {
	text-transform: uppercase;
	font-size: calc($index * 2);
	letter-spacing: calc($index / 5.5);
	transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	transition: $transition;
	will-change: transform;
}
.main-article_paragraph {
	max-width: calc($index * 32);
	font-size: calc($index * 1.2);
	margin-top: calc($index / 1.25);
	transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	transition: $transition;
	will-change: transform;
	font-weight: 800;
	background-color: #000000AA;
	border-radius: 2%;
}
.content {
	will-change: transform;
}
.main-articles {
	background-image: url(./img/Paralax/down.jpg);
}




//SECTOR 3
.photos {
	justify-content: center;
	display: flex;
	flex-wrap: nowrap;
	padding-top: calc($index * 1);
	width: 100%;
}
.photo {
	background-size: cover;
	margin: auto;
	border: solid rgb(211, 216, 202) calc($index * 0.1);
	border-radius: 2%;
	width: 24vw;
	height: 24vw;
}
.photo:nth-child(1) {
	background-image: url(../src/img/photos/photo1.jpg);
}
.photo:nth-child(2) {
	background-image: url(../src/img/photos/photo2.jpg);
}
.photo:nth-child(3) {
	background-image: url(../src/img/photos/photo3.jpg);
}
.photo:nth-child(4) {
	background-image: url(../src/img/photos/photo4.jpg);
}
@media screen and (max-width: 800px)  {
	.photos {
		flex-wrap: wrap;
	}
	.photo {
		width: calc($index * 16);
		height: calc($index * 16);
	}
}




//SECTOR 4
.container {
	position: relative;
	width: calc($index * 5);
	margin: calc($index * 1) auto 0 auto;
	perspective: 100%;
}
.carousel {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; 
	animation: rotate360 20s infinite forwards linear;
}
.carousel_face { 
	position: absolute;
	width: calc($index * 5);
	height: calc($index * 5);
	top: calc($index * 1);
	left: calc($index / 9);
	right: calc($index / 2);
	background-size: cover;
	display: flex;
}
.carousel_face:hover {
	width: calc($index * 5.5);
	height: calc($index * 5.5);
	opacity: 40%;
}
.carousel_face:nth-child(1) {
	background-image: url(../src/img/tech/BlenderLogo.png);
	transform: rotateY(  0deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(2) { 
	background-image: url(../src/img/tech/CSSLogo.png);
	  transform: rotateY( 40deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(3) {
	background-image: url(../src/img/tech/HTMLLogo.png);
	transform: rotateY( 80deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(4) {
	background-image: url(../src/img/tech/JSLogo.png);
	transform: rotateY(120deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(5) { 
	background-image: url(../src/img/tech/PythonLogo.png);
   transform: rotateY(160deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(6) { 
	background-image: url(../src/img/tech/GitHubLogo.png);
   transform: rotateY(200deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(7) { 
	background-image: url(../src/img/tech/UnityLogo.png);
   transform: rotateY(240deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(8) {
	background-image: url(../src/img/tech/TSLogo.png);
	transform: rotateY(280deg) translateZ(calc($index * 10)); }
.carousel_face:nth-child(9) {
	background-image: url(../src/img/tech/ReactLogo.png);
	transform: rotateY(320deg) translateZ(calc($index * 10)); }
  
@keyframes rotate360 {
	from {
	  transform: rotateY(0deg);
	}
	to {
	  transform: rotateY(-360deg);
	}
}
.game {
	padding-top: calc($index * 7);
	background: linear-gradient(0deg, #030504, rgb(143, 144, 128) 140%) no-repeat;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.game_title {
	font-size: calc($index * 2);
	font-family: monospace;
	color: $text;
	text-align: center;
}
.break {
	flex-basis: 100%;
}
.game_button {
	width: calc($index * 8);
	height: calc($index * 2.2);
	white-space: nowrap;
	background-color: #90937c;
	border: solid rgb(255, 255, 255) calc($index * 0.2);
	border-radius: 5%;
	margin-bottom: calc($index * 1);
	text-decoration: none;
}
.game_button:hover {
	background-color: #000000;
	color: $text;
	width: calc($index * 8.4);
}
.game_button_text {
	font-weight: bold;
	text-align: center;
	font-family: sans-serif;
	font-size: calc($index * 1.25);
}




//SECTOR 5
.awards {
	display: block;
	margin-top: calc($index * 1);
	scale: 0.9;
	text-align: center;
}
.award {
	width: calc($index * 25);
	height: calc($index * 35);
	margin: auto;
	transition: 0.5s;
	vertical-align: middle;
}
.award:hover {
	animation: slide 0.5s;
	opacity: 0.7;
}
.tap {
	color: $text;
	text-align: center;
	margin: auto;
	font-size: calc($index * 2);
}




//SECTOR 6
footer {
	width: 100%;
	height: calc($index * 3);
	background: linear-gradient(0deg, rgb(0, 0, 0), rgb(178, 180, 160) 140%) no-repeat;
	display: inline-block;
}
.vk-image {
	float: left;
	background-image: url(../src/img/vk.png);
	background-size: cover;
	width: calc($index * 2);
	height: calc($index * 2);
	margin: calc($index * 0.5);
}
.git-image {
	float: left;
	background-image: url(../src/img/GitBlack.png);
	background-size: cover;
	width: calc($index * 2);
	height: calc($index * 2);
	margin: calc($index * 0.5);
}
.email {
	float: left;

	.image {
		background-image: url(../src/img/mail.png);
		background-size: cover;
		width: calc($index * 2.2);
		height: calc($index * 2.2);
		margin: calc($index * 0.5);
	}
	
	.text {
		padding-left: calc($index * 4);
		padding-top: calc($index * 0.3);
		font-size: calc($index * 1);
		color: $text
	}
}